---
    //Definición de un array de objetos llamado 'navItems', cada objeto representa un elemento de navegación
    const navItems = [
        {
            title: "Sobre Nosotros", //Título del elemento de navegación
            label: "Sobre Nosotros", //Etiqueta del elemento de navegación
            url: "/about", //URL a la que apunta el elemento de navegación
        },
        {
            title: "Contacto",
            label: "Contacto",
            url: "/contact",
        },
        {
            title: "Mi Carrito",
            label: "Mi Carrito",
            url: "#",
        }
    ]

    //Obtención de la ruta actual de la página mediante la propiedad 'pathname' del objeto 'url' proporcionado por Astro
    const currentPath = Astro.url.pathname
---

<header class="bg-bg-200 w-full mb-5 z-[1000]">
    <nav class="flex justify-between items-center w-[92%] mx-auto">
        <div class="">
            <a href="/">
                <img class="rounded-full w-14 h-14 md:w-16 md:h-16 block my-1" src="/GameCave.webp" alt="Game Cave">
            </a>
        </div>
        <div class="nav-links transition-all duration-500 md:static absolute bg-bg-200 md:min-h-fit min-h-[30vh] left-0 top-[9%] md:w-auto w-full flex items-center px-5 z-20">
            <ul class="flex md:flex-row flex-col md:items-center md:gap-[4vw] gap-8">
                {navItems.map(link => (
                    <li>
                        { /*Se comprueba si la URL del enlace es '#' para aplicar un comportamiento especial. Si es '#' se activa un evento 'open-car'.*/
                            link.url === '#' ? (
                            <a
                                class={`relative transition-all duration-300 px-2 py-2 group ${
                                    currentPath === link.url ? 'active' : ''
                                }`}
                                aria-label={link.label}
                                href={link.url}
                                data-accion="open-car"
                            >{/*El título del enlace. Se renderiza dentro de un <span>.*/}
                                <span class="relative z-10">{link.title}</span>
                                {/*La barra de fondo que se extiende bajo el título del enlace. Tiene una transición suave y cambia de tamaño según el hover.*/}
                                <span class={`absolute left-0 bottom-0 transition-all duration-300 ease-in-out bg-primary h-1 group-hover:h-full ${
                                    currentPath === link.url ? 'w-full' : 'group-hover:w-full'
                                }`}></span>
                            </a>
                        ) : (
                            <a
                                class={
                                    `relative transition-all duration-300 px-2 py-2 group ${
                                    currentPath === link.url ? 'active' : ''
                                }`}
                                aria-label={link.label}
                                href={link.url}
                            >
                                <span class="relative z-10">{link.title}</span>
                                <span class={/*La barra de fondo que se extiende bajo el título del enlace. Tiene una transición suave y cambia de tamaño según el hover.*/
                                `absolute left-0 bottom-0 transition-all duration-300 ease-in-out bg-primary h-1 group-hover:h-full ${
                                    currentPath === link.url ? 'w-full' : 'group-hover:w-full'
                                }`}></span>
                            </a>
                        )}
                    </li>
                ))}
            </ul>
        </div>
        <div class="flex items-center gap-6">
            <button class="bg-primary-200 text-white px-5 py-2 rounded-full hover:bg-primary duration-500">Inicia Sesión</button>
            <ion-icon name="close" class="menu-icon text-3xl cursor-pointer md:hidden"></ion-icon>
        </div>
    </nav>
</header>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const navLinks = document.querySelector('.nav-links') as HTMLElement;
        const menuIcon = document.querySelector('.menu-icon') as HTMLElement;

        menuIcon.addEventListener('click', () => {
            const isMenuOpen = menuIcon.getAttribute('name') === 'menu';
            menuIcon.setAttribute('name', isMenuOpen ? 'close' : 'menu');
            navLinks.classList.toggle('hidden');
        });
    });
</script>